/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(libs/jquery.bxslider.css);
@import url(html5blank.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.header .main-menu li, .mobile-menu-wrapper li, .home .home-tagline-banner h3, .hero .hero-heading h2,
.hero .hero-heading h3, .section-heading h3, .btn {
  font-family: "Oswald", Helvetica, sans-serif;
  font-weight: 700; }

.hasContent p {
  font-family: "Lora", "Times New Roman", Serif;
  font-weight: 400; }

/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  GROUPING  ============================================================================= */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; } }
/*  GRID OF TEN   ============================================================================= */
.span_10_of_10 {
  width: 100%; }

.span_9_of_10 {
  width: 89.84%; }

.span_8_of_10 {
  width: 79.68%; }

.span_7_of_10 {
  width: 69.52%; }

.span_6_of_10 {
  width: 59.36%; }

.span_5_of_10 {
  width: 49.2%; }

.span_4_of_10 {
  width: 39.04%; }

.span_3_of_10 {
  width: 28.88%; }

.span_2_of_10 {
  width: 18.72%; }

.span_1_of_10 {
  width: 8.56%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_10_of_10 {
    width: 100%; }

  .span_9_of_10 {
    width: 100%; }

  .span_8_of_10 {
    width: 100%; }

  .span_7_of_10 {
    width: 100%; }

  .span_6_of_10 {
    width: 100%; }

  .span_5_of_10 {
    width: 100%; }

  .span_4_of_10 {
    width: 100%; }

  .span_3_of_10 {
    width: 100%; }

  .span_2_of_10 {
    width: 100%; }

  .span_1_of_10 {
    width: 100%; } }
/*  GRID OF TWELVE   ============================================================================= */
.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.46%; }

.span_10_of_12 {
  width: 83%; }

.span_9_of_12 {
  width: 74.54%; }

.span_8_of_12 {
  width: 66.08%; }

.span_7_of_12 {
  width: 57.62%; }

.span_6_of_12 {
  width: 49.16%; }

.span_5_of_12 {
  width: 40.7%; }

.span_4_of_12 {
  width: 32.24%; }

.span_3_of_12 {
  width: 23.78%; }

.span_2_of_12 {
  width: 15.32%; }

.span_1_of_12 {
  width: 6.86%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_12_of_12 {
    width: 100%; }

  .span_11_of_12 {
    width: 100%; }

  .span_10_of_12 {
    width: 100%; }

  .span_9_of_12 {
    width: 100%; }

  .span_8_of_12 {
    width: 100%; }

  .span_7_of_12 {
    width: 100%; }

  .span_6_of_12 {
    width: 100%; }

  .span_5_of_12 {
    width: 100%; }

  .span_4_of_12 {
    width: 100%; }

  .span_3_of_12 {
    width: 100%; }

  .span_2_of_12 {
    width: 100%; }

  .span_1_of_12 {
    width: 100%; } }
.header .logo a {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer; }

.home .home-tagline-banner, .hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.home .home-tagline-banner, .hero {
  background-position: center center; }

.mobile-menu-wrapper, .mobile-menu-wrapper .mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; }

::-moz-selection {
  background: #C3502B;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #C3502B;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #C3502B;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #C3502B;
  color: #fff;
  text-shadow: none; }

.wrapper, .hero, .container, .header-wrapper, .header, .footer-wrapper, .footer, .split-50 {
  *zoom: 1; }
  .wrapper:before, .hero:before, .container:before, .header-wrapper:before, .header:before, .footer-wrapper:before, .footer:before, .split-50:before, .wrapper:after, .hero:after, .container:after, .header-wrapper:after, .header:after, .footer-wrapper:after, .footer:after, .split-50:after {
    content: " ";
    display: table; }
  .wrapper:after, .hero:after, .container:after, .header-wrapper:after, .header:after, .footer-wrapper:after, .footer:after, .split-50:after {
    clear: both; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Oswald", Helvetica, sans-serif;
  background: #F6F6F6;
  color: #221E1F;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none !important; }
  body.modalOpen {
    overflow: hidden; }

a, .header .logo, .btn:before, .btn:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.header .logo:hover {
  opacity: .7; }

img {
  max-width: 100%;
  vertical-align: bottom; }

a {
  color: #C3502B;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

a:hover {
  color: #221E1F; }

a:focus {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

.hover {
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

input:focus {
  outline: 0;
  border: 1px solid #C3502B; }

.wrapper, .hero {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
  position: relative; }
  .container.narrowContentLg {
    max-width: 1060px; }
  .container.narrowContent {
    max-width: 630px; }

.col {
  margin-top: 0;
  margin-bottom: 0; }

.bx-wrapper {
  margin-bottom: 0; }

.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0;
  background: #fff;
  margin: 0 !important; }

.bx-viewport li {
  min-height: 1px;
  min-width: 1px; }

.header-wrapper {
  width: 100%;
  position: absolute;
  z-index: 9; }

.header {
  margin-top: 48px; }
  .header .logo {
    display: inline-block;
    float: left;
    width: 180px;
    height: 73px;
    background-image: url("../img/bonos-logo-white@2x.png");
    background-size: 180px 73px; }
  .header .main-menu {
    display: inline-block;
    float: right;
    width: auto;
    margin-top: 24px;
    position: relative;
    z-index: 10; }
    .header .main-menu ul {
      text-align: right; }
    .header .main-menu li {
      display: inline-block;
      font-size: 18px;
      text-transform: uppercase;
      margin-left: 2px;
      letter-spacing: 1px; }
      .header .main-menu li.isHome {
        display: none; }
      .header .main-menu li a {
        color: #fff;
        padding: 10px 16px; }
        .header .main-menu li a:hover {
          color: #9C1A1D; }
      .header .main-menu li.current-menu-item, .header .main-menu li.current_page_item {
        border-bottom: 4px solid #9C1A1D; }
        .header .main-menu li.current-menu-item a, .header .main-menu li.current_page_item a {
          cursor: default;
          color: #fff; }
          .header .main-menu li.current-menu-item a:hover, .header .main-menu li.current_page_item a:hover {
            color: #fff; }

.mobile-menu-icon {
  display: none;
  width: 40px;
  height: 35px;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 5%;
  z-index: 12; }
  .mobile-menu-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: background-color 0.2s ease, top .3s ease-in-out, width .3s ease-in-out, left .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: background-color 0.2s ease, top .3s ease-in-out, width .3s ease-in-out, left .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: background-color 0.2s ease, transform .3s ease-in-out, top .3s ease-in-out, width .3s ease-in-out, left .3s ease-in-out;
    transition: background-color 0.2s ease, transform .3s ease-in-out, top .3s ease-in-out, width .3s ease-in-out, left .3s ease-in-out, -webkit-transform .3s ease-in-out; }
    .mobile-menu-icon span:nth-child(1) {
      top: 0px; }
    .mobile-menu-icon span:nth-child(2), .mobile-menu-icon span:nth-child(3) {
      top: 14px; }
    .mobile-menu-icon span:nth-child(4) {
      top: 28px; }
  .mobile-menu-icon:hover span {
    background-color: #9C1A1D; }
  .mobile-menu-icon.open span {
    background-color: #221E1F; }
    .mobile-menu-icon.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    .mobile-menu-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .mobile-menu-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .mobile-menu-icon.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }
  .mobile-menu-icon.open:hover span {
    background-color: #9C1A1D; }

.mobile-menu-wrapper {
  opacity: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: -1;
  -webkit-transition: z-index 0.2s, step-end 0.3s, opacity 0.2s linear;
  transition: z-index 0.2s, step-end 0.3s, opacity 0.2s linear; }
  .mobile-menu-wrapper .mobile-menu {
    margin-top: -10%;
    -webkit-transition: margin-top 0.5s ease 0.3s;
    transition: margin-top 0.5s ease 0.3s; }
  .mobile-menu-wrapper ul {
    text-align: center; }
  .mobile-menu-wrapper li {
    width: auto;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: 2px;
    letter-spacing: 1px;
    margin-bottom: 25px; }
    .mobile-menu-wrapper li a {
      color: #221E1F;
      padding: 4px 16px; }
      .mobile-menu-wrapper li a:hover {
        color: #9C1A1D; }
    .mobile-menu-wrapper li.current-menu-item a, .mobile-menu-wrapper li.current_page_item a {
      border-bottom: 4px solid #9C1A1D;
      cursor: default;
      color: #221E1F; }
      .mobile-menu-wrapper li.current-menu-item a:hover, .mobile-menu-wrapper li.current_page_item a:hover {
        color: #221E1F; }

body.modalOpen .mobile-menu-icon {
  display: inline-block !important; }
body.modalOpen .mobile-menu-wrapper {
  z-index: 11;
  opacity: 1;
  -webkit-transition: z-index 0.3s, step-start, opacity 0.3s linear;
  transition: z-index 0.3s, step-start, opacity 0.3s linear; }
  body.modalOpen .mobile-menu-wrapper .mobile-menu {
    margin-top: 0;
    -webkit-transition: margin-top 0.5s ease-in-out 0.1s;
    transition: margin-top 0.5s ease-in-out 0.1s; }

.middle-wrapper {
  background-color: #fff; }

@media only screen and (max-width: 900px) {
  .mobile-menu-icon {
    display: inline-block; }

  .header .main-menu {
    display: none; } }
.footer-wrapper {
  background-color: #221E1F; }

.footer {
  position: relative;
  z-index: 3; }
  .footer .smoked-badge {
    position: absolute;
    left: 50%;
    top: -67px;
    margin-left: -107px;
    width: 213px;
    height: 190px;
    background-image: url("../img/locally-smoked@2x.png");
    background-size: 213px 190px; }

.footer-copyright {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 160px;
  border-top: 1px solid #393435;
  padding: 20px; }
  .footer-copyright p {
    color: #616161;
    font-family: "Lora", "Times New Roman", Serif;
    font-size: 16px;
    line-height: 26px; }
  .footer-copyright a {
    color: #616161; }
    .footer-copyright a:hover {
      color: #C3502B; }

@media only screen and (max-width: 768px) {
  .footer .smoked-badge {
    top: 30px; }

  .footer-copyright {
    margin-top: 250px; } }
@media only screen and (max-width: 420px) {
  .footer-copyright .copyright,
  .footer-copyright .harbr-credit {
    display: block; }
  .footer-copyright .harbr-credit {
    margin-top: 6px; }
  .footer-copyright .footer-copyright-divider {
    display: none; } }
.home .home-tagline-banner {
  padding: 60px 30px; }
  .home .home-tagline-banner h3 {
    text-align: center;
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    letter-spacing: 1px; }
.home .home-lower-ctas {
  /* Hide Play button + controls on iOS */ }
  .home .home-lower-ctas .flex-inner {
    position: relative;
    z-index: 2; }
  .home .home-lower-ctas .home-lower-cta {
    overflow: hidden;
    text-align: center; }
  .home .home-lower-ctas .split-50-left {
    position: relative; }
  .home .home-lower-ctas .split-50-right {
    position: relative; }
  .home .home-lower-ctas .video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("http://img.youtube.com/vi/nZcejtAwxz4/maxresdefault.jpg"); }
    .home .home-lower-ctas .video video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 101%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      background: transparent;
      background-repeat: no-repeat;
      background-size: cover;
      border-color: transparent; }
  .home .home-lower-ctas video::-webkit-media-controls {
    display: none !important; }

.vAlign {
  position: relative;
  visibility: hidden;
  /* <- needed to hide flash of non vertical aligned content before complete page load. */ }
  .vAlign.vAlign-abs {
    position: absolute;
    visibility: hidden;
    /* <- needed to hide flash of non vertical aligned content before complete page load. */ }

.noWrap {
  white-space: nowrap; }

.hero {
  z-index: 0;
  top: 0;
  width: 100%; }
  .hero .push-down {
    position: relative;
    height: 170px;
    width: 100%; }
  .hero .hero-content {
    padding: 10% 0;
    width: 100%; }
    .hero .hero-content .centerBtn {
      margin-top: 6%; }
  .hero .inner {
    width: 100%;
    position: relative; }
  .hero .hero-heading {
    text-align: center; }
    .hero .hero-heading h2,
    .hero .hero-heading h3 {
      color: #fff;
      text-transform: uppercase; }
    .hero .hero-heading h2 {
      font-size: 50px;
      line-height: 58px;
      letter-spacing: 3px; }
    .hero .hero-heading h3 {
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 2px;
      display: inline-block; }
    .hero .hero-heading .top-accent {
      display: block;
      height: 5px;
      width: 650px;
      background-color: #9C1A1D;
      margin: 0 auto 20px; }
    .hero .hero-heading .heading-tagline {
      max-width: 650px;
      margin: 10px auto 0; }
      .hero .hero-heading .heading-tagline .bottom-left-accent,
      .hero .hero-heading .heading-tagline .bottom-right-accent {
        display: inline-block;
        height: 5px;
        width: 180px;
        background-color: #9C1A1D; }
      .hero .hero-heading .heading-tagline .bottom-left-accent {
        margin: 20px auto 20px;
        float: left; }
      .hero .hero-heading .heading-tagline .bottom-right-accent {
        margin: 20px auto 20px;
        float: right; }

.isWhite {
  background-color: #fff; }

.isDarkGray {
  color: #fff;
  background-color: #221E1F; }
  .isDarkGray .section-heading h2 {
    color: #fff; }
  .isDarkGray .section-heading:after {
    background-color: #9C1A1D; }

.isLightGray {
  background-color: #F6F6F6; }

.isPrimary {
  color: #fff;
  background-color: #C3502B; }

.split-50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .split-50:before, .split-50:after {
    display: none; }
  .split-50 .split-50-left,
  .split-50 .split-50-right {
    width: 50%; }
    .split-50 .split-50-left.hasContent,
    .split-50 .split-50-right.hasContent {
      padding: 0 7%; }

.well {
  padding-top: 7%;
  padding-bottom: 7%; }
  .well.well--noBottom {
    padding-bottom: 0; }

.well--dbl {
  padding-top: 14%;
  padding-bottom: 14%; }
  .well--dbl.well--noBottom {
    padding-bottom: 0; }

.well--l {
  padding-top: 12%;
  padding-bottom: 12%; }
  .well--l.well--noBottom {
    padding-bottom: 0; }

.well--xl {
  padding-top: 15%;
  padding-bottom: 15%; }
  .well--xl.well--noBottom {
    padding-bottom: 0; }

.well--s {
  padding-top: 5%;
  padding-bottom: 5%; }
  .well--s.well--noBottom {
    padding-bottom: 0; }

.well--s--dbl {
  padding-top: 5%;
  padding-bottom: 5%; }
  .well--s--dbl.well--noBottom {
    padding-bottom: 0; }

@media only screen and (max-width: 768px) {
  .well {
    padding-top: 9%;
    padding-bottom: 9%; }
    .well.well--noBottom {
      padding-bottom: 0; }

  .well--l {
    padding-top: 14%;
    padding-bottom: 14%; }
    .well--l.well--noBottom {
      padding-bottom: 0; }

  .well--s,
  .well--s--dbl {
    padding-top: 7%;
    padding-bottom: 7%; }
    .well--s.well--noBottom,
    .well--s--dbl.well--noBottom {
      padding-bottom: 0; } }
@media only screen and (max-width: 520px) {
  .well {
    padding-top: 11%;
    padding-bottom: 11%; }
    .well.well--noBottom {
      padding-bottom: 0; }

  .well--l {
    padding-top: 16%;
    padding-bottom: 16%; }
    .well--l.well--noBottom {
      padding-bottom: 0; }

  .well--s,
  .well--s--dbl {
    padding-top: 10%;
    padding-bottom: 10%; }
    .well--s.well--noBottom,
    .well--s--dbl.well--noBottom {
      padding-bottom: 0; } }
.section-heading {
  display: block;
  margin-bottom: 25px; }
  .section-heading h3 {
    font-size: 40px;
    line-height: 46px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .section-heading:after {
    display: inline-block;
    content: "";
    width: 25px;
    height: 4px;
    background-color: #9C1A1D; }

.hasContent p {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 20px; }
.hasContent .btn {
  margin-top: 10px; }

.centerBtn {
  text-align: center; }
  .centerBtn a {
    display: inline-block; }

.btn {
  display: inline-block;
  color: #fff;
  background-color: rgba(195, 80, 43, 0.55);
  padding: 12px 26px;
  border-color: #C3502B;
  border-width: 1px;
  border-style: solid;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-width: 190px;
  position: relative; }
  .btn:before, .btn:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 19px;
    width: 21px;
    height: 3px;
    background-color: #C3502B; }
  .btn:before {
    left: -11px; }
  .btn:after {
    right: -11px; }
  .btn:hover {
    color: #fff;
    background-color: rgba(195, 80, 43, 0.75); }
    .btn:hover:before {
      left: -21px; }
    .btn:hover:after {
      right: -21px; }
  .btn.btn--ghost {
    background-color: transparent; }
    .btn.btn--ghost:hover {
      background-color: rgba(195, 80, 43, 0.75); }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=site.css.map */