.centerBtn {
   text-align: center;

   a {
      display: inline-block;
   }
}

.btn-row {
   display: block;
   margin-top: 24px;
}

.btn, .woocommerce .btn, .woocommerce button.btn {
   display: inline-block;
   color: $white;
   background-color: rgba($primary, 0.55);
   padding: 12px 26px;
   border-color: $primary;
   border-width: 1px;
   border-style: solid;
   font-size: 18px;
   line-height: 18px;
   @extend %hoverTrans;
   @extend %sansB;
   text-align: center;
   text-transform: uppercase;
   @include letSpc(1px);
   min-width: 190px;
   border-radius: 0;
   position: relative;

   &:before,
   &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 19px;
      width: 21px;
      height: 3px;
      background-color: $primary;
      @extend %hoverTrans;
   }

   &:before {
      left: -11px;
   }
   &:after {
      right: -11px;
   }

   &:hover {
      color: $white;
      background-color: rgba($primary, 0.75);

      &:before {
         left: -21px;
      }
      &:after {
         right: -21px;
      }
   }

   &.btn--ghost {
      background-color: transparent;

      &:hover {
         background-color: rgba($primary, 0.75);
      }
   }
}

.isLightGray,
.isWhite {
   .btn {
      &.btn--ghost {
         color: $darkGray;

         &:hover {
            color: $white;
            background-color: $primary;
         }
      }
   }
}
@media only screen and (max-width:768px) {
   .btn {
      padding: 10px 26px;
      font-size: 17px;
      line-height: 17px;

      &:before,
      &:after {
         top: 17px;
      }
   }
}
@media only screen and (max-width:580px) {
   .btn {
      font-size: 16px;
      line-height: 16px;
   }
}


.close-btn {
   margin-top: 20px;
   width: 35px;
   height: 35px;
   position: relative;
   display: inline-block;

   span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background-color: $darkGray;
      border-radius: 9px;
      opacity: 1;
      top: 15px;
      left: 0;
      transform: rotate(0deg);
      transition: background-color 0.2s ease, transform .3s ease-in-out, top .3s ease-in-out, width .3s ease-in-out, left .3s ease-in-out;

      &:nth-child(1) {
         transform: rotate(45deg);
      }

      &:nth-child(2) {
         transform: rotate(-45deg);
      }
   }

   &:hover {
      span {
         background-color: $secondary;
      }
   }

   &.close-menu-box {
      margin-top: 0;
      margin-left: -16px !important;
      top: 22px !important;

      span {
         width: 30px;
         top: 18px;
         height: 2px;
         background-color: $white;
      }
   }
}
