.contact {
   .page-intro-split-cols {
      .split-50-left {
         a {
            color: $darkGray;
            cursor: text;
         }

         .intro-text {
            .phone,
            .fax {
               display: inline-block;
               vertical-align: top;

               p {
                  margin-bottom: 0;
               }
            }

            .phone {
               margin-right: 30px;
            }
         }
      }
   }
}




// CONTACT PAGE BREAKPOINTS = = = = = = =

