.home {
   .home-tagline-banner {
      @extend %bgCover--center;
      padding: 60px 30px;

      h3 {
         text-align: center;
         @extend %sansB;
         font-size: 40px;
         line-height: 46px;
         text-transform: uppercase;
         @include letSpc(1px);
      }
   }

   .home-lower-ctas {
      .flex-inner {
         position: relative;
         z-index: 2;
      }

      .home-lower-cta {
         overflow: hidden;
         text-align: center;
      }

      .split-50-left {
         position: relative;
      }

      .split-50-right {
         position: relative;
      }

      .video {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
         width: 100%;
         height: 100%;
         background-image: url('http://img.youtube.com/vi/nZcejtAwxz4/maxresdefault.jpg');

         video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 101%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: 0;
            transform: translateX(-50%) translateY(-50%);
            background: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            border-color: transparent;
         }
      }

      /* Hide Play button + controls on iOS */
      video::-webkit-media-controls {
          display:none !important;
      }
   }
}



// HOMEPAGE BREAKPOINTS = = = = = = =

