.menu {
   .menu-section {
      .section-heading {
         text-align: center;
         margin-bottom: 5%;
      }
   }

   .menu-categories {
      .menu-items-box {
         display: none;

         .menu-category-heading {
            @extend %bgCover--center;
            width: 100%;
            padding: 22px 30px;
            position: relative;

            h3 {
               color: $white;
               font-size: 30px;
               line-height: 36px;
               @extend %sansB;
               text-transform: uppercase;
               @include letSpc(1px);
               position: relative;
               z-index: 1;
            }

            .close-menu-modal {
               display: none;
            }
         }

         .menu-items-list {
            display: block;
            padding: 5% 10% 3%;

            .menu-item-list {
               column-count: 2;
               column-gap: 60px;
            }

            .menu-item {
               vertical-align: top;
               display: inline;

               h4 {
                  color: $darkGray;
                  font-size: 18px;
                  line-height: 22px;
                  @extend %sansB;
                  text-transform: uppercase;
                  @include letSpc(1px);
                  margin-bottom: 2px;

                  &.no-description {
                     margin-bottom: 18px;
                  }
               }

               p {
                  font-size: 13px;
                  line-height: 19px;
                  margin-bottom: 18px;
               }

               &:first-child {
                  h4 {
                     margin-top: 0;
                  }
               }
            }
         }

         .location-link-cta {
            display: block;
            background-color: $lightGray;
            text-align: center;
            padding: 15px 20px;
            font-size: 17px;
            line-height: 19px;
            @extend %sansB;
            text-transform: uppercase;
            border: 1px solid $secondary;

            span {
               display: inline-block;
               margin-right: 4px;
            }

            a {
               color: $secondary;

               &:hover {
                  color: $black;
               }
            }
         }
      }
   }


   .fancybox-wrap {
      max-width: 750px;

      .fancybox-inner {
         //overflow: visible !important;
         max-width: 720px;
      }

      .menu-items-box {
         .menu-category-box-shadow {
            box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.1);
         }

         .menu-category-heading {
            @extend %bgCover--center;
            width: 100%;
            padding: 22px 30px;
            position: relative;

            h3 {
               color: $white;
               font-size: 30px;
               line-height: 36px;
               @extend %sansB;
               text-transform: uppercase;
               @include letSpc(1px);
               position: relative;
               z-index: 1;
            }

            .close-menu-modal {
               position: absolute;
               top: 0;
               right: 0;
               z-index: 1;
               width: 72px;
               height: 80px;
               display: inline-block;
               background-color: rgba($black, .3);
               border-left: 1px solid $medGray;
               @extend %hoverTrans;

               a {
                  @extend %linkblock;
               }

               &:hover {
                  background-color: rgba($black, .6);
               }
            }
         }

         .menu-items-list {
            display: block;
            padding: 5% 10% 3%;
            max-height: calc(100vh - 260px) !important;
            overflow-y: scroll;

            .menu-item-list {
               column-count: 2;
               column-gap: 60px;
               column-fill: balance;
            }

            .menu-item {
               -webkit-margin-before: 0;
               -webkit-margin-after: 0;
               vertical-align: top;
               display: inline-block;
               width: 100%;

               h4 {
                  color: $darkGray;
                  font-size: 18px;
                  line-height: 22px;
                  @extend %sansB;
                  text-transform: uppercase;
                  @include letSpc(1px);
                  margin-bottom: 2px;

                  &.no-description {
                     margin-bottom: 18px;
                  }
               }

               p {
                  font-size: 13px;
                  line-height: 19px;
                  margin-bottom: 18px;
               }

               &:first-child {
                  h4 {
                     margin-top: 0;
                  }
               }
            }
         }

         .location-link-cta {
            display: block;
            background-color: $lightGray;
            text-align: center;
            padding: 15px 20px;
            font-size: 17px;
            line-height: 19px;
            @extend %sansB;
            text-transform: uppercase;
            border: 1px solid $secondary;

            span {
               display: inline-block;
               margin-right: 4px;
            }

            a {
               color: $secondary;

               &:hover {
                  color: $black;
               }
            }
         }

         .next-prev-menu-category-links {
            @extend %clear;
            font-size: 0;

            .more-items {
               display: block;
               text-align: center;
               padding: 24px 0;

               h4 {
                  position: relative;
                  color: $darkGray;
                  font-size: 16px;
                  line-height: 20px;
                  @extend %sansB;
                  text-transform: uppercase;
                  @include letSpc(1px);

                  &:before,
                  &:after {
                     position: absolute;
                     top: 10px;
                     content: '';
                     display: block;
                     width: calc(50% - 66px);
                     height: 1px;
                     background-color: $lightDkGray;
                  }

                  &:before {
                     left: 0;
                  }

                  &:after {
                     right: 0;
                  }
               }
            }

            .prev-next-arrow {
               display: inline-block;
               position: absolute;
               z-index: 1;
               top: 14px;
               width: 18px;
               height: 15px;
               background-size: 18px 15px;

               &.arrow-lt {
                  @extend %hoverTrans;
                  left: 20px;
                  background-image: url('../img/icons/arrow-sm-white-lt@2x.png');
               }

               &.arrow-rt {
                  @extend %hoverTrans;
                  right: 20px;
                  background-image: url('../img/icons/arrow-sm-white-rt@2x.png');
               }
            }

            .prev,
            .next {
               position: relative;
               @extend %bgCover--center;
               font-size: 14px;
               display: inline-block;
               vertical-align: top;
               width: 49%;
               text-align: center;

               a {
                  display: block;
                  padding: 10px;
                  position: relative;
                  z-index: 1;
                  color: $white;
                  font-size: 18px;
                  line-height: 22px;
                  @extend %sansB;
                  text-transform: uppercase;
                  @include letSpc(1px);
               }

               &:hover {
                  .darkOverlay {
                     &.do50 {
                        background-color: rgba($black, 0.35);
                     }
                  }

                  .prev-next-arrow {
                     &.arrow-lt {
                        left: 10px;
                     }

                     &.arrow-rt {
                        right: 10px;
                     }
                  }
               }
            }
            .prev {
               margin-right: 1%;

            }
            .next {
               float: right;
            }
         }
      }

      .fancybox-nav {
         display: none;
      }
   }
}

// MENU PAGE BREAKPOINTS = = = = = = =
@media only screen and (max-width:650px) {
   .menu {
      .menu-categories {
         .menu-category-wrap {
            .fancybox-menu-box,
            .next-prev-menu-category-links,
            .more-items {
               display: none;
            }

            .menu-items-box {
               display: block !important;

               .menu-items-list {
                  display: block;
                  padding: 5% 5% 3.5%;
               }

               .location-link-cta {
                  background-color: $lightGray;
                  padding: 12px 20px;
                  font-size: 15px;
                  line-height: 20px;
                  //border: 1px solid $secondary;
                  border: none;

                  span {
                     display: block;
                     margin-right: 0;
                  }
               }
            }
         }
      }
   }
}

@media only screen and (max-width:520px) {
   .menu {
      .menu-categories {
         .menu-items-box {
            .menu-category-heading {
               h3 {
                  font-size: 24px;
                  line-height: 30px;
               }
            }

            .menu-items-list {
               .menu-item-list {
                  column-count: auto;
                  column-gap: normal;
               }
            }
         }
      }
   }
}

@media only screen and (max-width:400px) {
   .menu {
      .menu-categories {
         .menu-category-wrap {
            .menu-items-box {
               .menu-category-heading {
                  h3 {
                     font-size: 22px;
                     line-height: 26px;
                  }
               }

               .location-link-cta {
                  font-size: 14px;
                  line-height: 19px;
                  padding: 12px;
               }
            }
         }
      }
   }
}