.menu {
   .menu-section {
      .section-heading {
         text-align: center;
         margin-bottom: 5%;
      }
   }

   .menu-categories {
      font-size: 0;

      .menu-category-wrap {
         width: 49%;
         margin-bottom: 2%;
         overflow: hidden;
         font-size: 14px;
         display: inline-block;

         &:nth-child(odd) {
            margin-right: 2%;
         }

         a {
            @extend %linkblock;
         }

         &:hover {
            .menu-category {
               transform:scale(1.2)
            }

            .menu-category-title {
               h3 {
                  color: $darkGray;
                  background-color: rgba($white, .9);

                  &:before {
                     left: -21px;
                  }
                  &:after {
                     right: -21px;
                  }
               }
            }
         }
      }

      .menu-category {
         @extend %bgCover--center;
         width: 100%;
         position: relative;
         vertical-align: top;
         padding-bottom: 63.8%;
         transition: transform 4s ease-out;
      }

      .menu-category-title {
         @extend %absFill;

         .inner {
            position: absolute;
            z-index: 1;
            width: 100%;
            text-align: center;
         }

         h3 {
            @extend %hoverTrans;
            position: relative;
            display: inline;
            width: auto;
            color: $white;
            font-size: 30px;
            line-height: 36px;
            @extend %sansB;
            text-transform: uppercase;
            @include letSpc(1px);
            padding: 12px 30px;
            border-color: $white;
            border-width: 1px;
            border-style: solid;
            background-color: transparent;

            &:before,
            &:after {
               content: '';
               display: inline-block;
               position: absolute;
               top: 31px;
               width: 21px;
               height: 3px;
               background-color: $white;
               @extend %hoverTrans;
            }

            &:before {
               left: -11px;
            }
            &:after {
               right: -11px;
            }
         }
      }
   }
}